body {
    position: absolute;
    width: 100%;
    height: 100%;
}



#hifive-registry {
    display:inline-block;
    font-family: Arial;
}

#registry-label {
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.team_button {
    height: 30px;
    line-height: 30px;
    padding: 10px;
    text-align: center;
    background-color: rgb(230, 230, 230);
    transition: background-color 0.5s ease-in-out;
}

.team_button:hover {
    background-color: rgb(189, 189, 189);
    transition: background-color 0.5s ease-in-out;
}

.team_button:active {
    transition: background-color 0s ease-in-out;
    background-color: rgb(66, 66, 66);
}

#main-canvas {
    position: relative;
    float: left;
    width: 75%;
    height: 100%;
    padding-right: 30px;
    align-items: center;
    align-content: center;
    display: flex;
    text-align: center;
    justify-content: center;
}

.hifive {
    position: absolute; 
    width: 76px; 
    height: 100px;
}

.hifive div {
    margin: 0 auto;
    vertical-align: top;
    width: 76px; 
    height: 100px;
    background-size: cover;
    background-image: url("/static/images/hand_icon.png");
    transition: all 0.25s ease-in-out;
}
.hifive:hover div {
    background-image: url("/static/images/hifive_icon.png");
}

.hifive figcaption {
    text-align: center;
    font-family: Arial;
    font-size: 20pt;
}

.sent-hifive div {
    background-image: url("/static/images/sent_icon.png");
}
.sent-hifive:hover div {
    background-image: url("/static/images/sent_icon.png");
}

#banner {
    font-size: xx-large;
}

#welcome {
    text-align: center;
}