body {
    position: absolute;
    width: 100%;
    height: 100%;
}

.team_link {
    display: block;
    width: 100%;
}

#main-canvas {
    width: 500px;
    height: 500px;

    align-items: center;
    align-content: center;
    display: flex;
    text-align: center;
    justify-content: center;
}

#banner {
    font-size: xx-large;
}