<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>High Five!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src = "{{ url_for('static', filename='main.js')}}" ></script>
    <link rel="stylesheet" href="{{ url_for('static', filename="styles.css") }}" />
    <link rel="shortcut icon" href="https://www.firstinspires.org/sites/default/files/first-favicon.ico" type="image/vnd.microsoft.icon">


</head>
<body onclick="">

    <div id="main-canvas" > <span id="banner">{{ banner }}</span></div>

    <div id="hifive-registry">
        <div id="show_icon" class="open" onclick="toggleButtons();"></div>
        <div id="registry-label">Click to send a high five!</div><br />
        {% for team in valid_teams %}
            {% if not (team == teamname) %}
                <div class="team_button" onclick="createHighFive('{{ team }}')"> {{ team }} </div>
            {% endif %}
        {% endfor %}
    </div>
</body>
</html>